@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
  display: flex; 
  position: fixed;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color:#E8E5E0;
  width: 70px;
  background-color: #0f0f0f;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  color:rgb(175, 175, 175);
  transform: rotate(-90deg);
  margin-top: 130px;
  font-size: 20px;
}

.links-nav button {
  all: unset;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 70px;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  transform: rotate(-90deg); /* Rotaciona o texto em 90 graus */
}
